@import url('https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner:wght@500&display=swap');

html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background: #777777;
    overflow: hidden;
    /* animation: bgs 5.45s; */
}

@keyframes bgs {
0% {
    background: #000000;
}

100% {

}
    
}
/* General */

/* Text Flashes */
.center {
    opacity: 0%;
    text-align: center;
}

#anitext {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 40%;
    animation: flashshift 5s;
}

@keyframes flashshift {
    /* 2.5s */
    0% {
        opacity: 50%;
        top: 42%;
    }

    2.5% {
        opacity: 80%;
        top: 35%;
    }

    5%, 7.5% {
        opacity: 100%;
        top: 40%;
    }

    7.51% {
        opacity: 50%;
        top: 42%;
    }

    10% {
        opacity: 80%;
        top: 35%;
    }

    12.5%, 15% {
        opacity: 100%;
        top: 40%;
    }


    15.1%, 100% {
        opacity: 0%;
    }
}

#jp {
    animation: jpf 5s;
    font-size: 5vw;
}

#jp::before {
    content: "";
    animation: jpf 5s;
    
}

@keyframes jpf {
    0%, 7.49% {
        color: #FFFFFF;
        opacity: 100%;
        content: "ZERO";
    }

    7.5%, 14.99% {
        color: #FFE95F;
        content: "ONE";
        opacity: 100%;
    }

    15%, 100% {
        opacity: 0%;
    }
}
#en {
    animation: enf 5s;
    content: "";
    font-size: 2.5vw;
}
#en::before {
    content: "";
    animation: enf 5s;
}
@keyframes enf {
    0%, 7.49% {
        color: #FFFFFF;
        opacity: 100%;
        content: "ZERO";
    }

    7.5%, 14.99% {
        color: #FFE95F;
        content: "ONE";
        opacity: 100%;
    }

    15%, 100% {
        opacity: 0%;
    }
}

#vert {
    vertical-align: middle;
}
/* Text Flashes */

#playby {
    background-size: contain;
    background-position: left;
    height: 100%;
    width: 100%;
    position: absolute;
    background-repeat: no-repeat;
    left: 0%;
    /* animation: pbf 5.45s; */
}

@keyframes pbf {
    0% {
    }

    100% {

    }
    
}

#content {
    display: table-cell;
    max-width: 100%;
    width: 60vh;
    height: 100%;
    position: absolute;
    left: 55%;
}

#desc {
    height: 100%;
    width: 100%;
    position: absolute;
    text-align: center;
}

#name {
    position: relative;
    margin: 0% 0 -5% 0;
    max-width: 100%;
    max-height: 100vh;
    object-fit: contain;
    object-position: 50% 50%;
    width: 80vh;
    font-size: 5vw;
    color: #FFE32C;
    /* animation: namef 10.9s; */
}

@keyframes namef {
    0% {

    }

    100% {

    }
    
}

#text {
    font-size: 2vw;
    font-family: 'Edu TAS Beginner', cursive;
    color: #FF81C2;
    /* animation: descf 10.9s; */
    text-align: center;
}

@keyframes descf {
    0% {

    }

    100% {

    }
    
}

#break1 {
    position: relative;
    margin: -35% 0 -15% 0;
    object-fit: contain;
    object-position: 50% 50%;
    width: 60vh;
    /* animation: brf 10.9s; */
}

#break2 {
    position: relative;
    margin: -5% -2% -5% 0;
    object-fit: contain;
    object-position: 50% 50%;
    width: 40vh;
    /* animation: brf 10.9s; */
}

@keyframes brf {
    0% {

    }

    100% {

    }
    
}

