@import url('https://fonts.googleapis.com/css2?family=Solitreo&display=swap');

html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background: #660c00;
    overflow: hidden;
    animation: bgs 25s;
}

@keyframes bgs {
    0%, 12% {
        background: #000000;
    }

    16% {
        background: #660c00;
    }

    16.2%, 16.7% {
        background: #c9c9c9;
    }

    17.8% {
        background: #000000;
    }

    36% {
        background: #323232;
    }

    36.1%, 39% {
        background: #000000;
    }

    39.5%, 40.5% {
        background: #FFFFFF;
    }

    43%, 60% {
        background: #242424;
    }

    61%, 100% {
        background: #660c00;
    }



    100% {

    }
    
}
/* General */

/* Text Flashes */
.center {
    opacity: 0%;
    text-align: center;
}

#anitext {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 40%;
    animation: flashshift 5s;
}

@keyframes flashshift {
    /* 2.5s */
    0% {
        opacity: 50%;
        top: 42%;
    }

    2.5% {
        opacity: 80%;
        top: 37%;
    }

    5%, 7.5% {
        opacity: 100%;
        top: 40%;
    }

    7.51% {
        opacity: 50%;
        top: 42%;
    }

    10% {
        opacity: 80%;
        top: 37%;
    }

    12.5%, 15% {
        opacity: 100%;
        top: 40%;
    }


    15.1%, 100% {
        opacity: 0%;
    }
}

#jp {
    animation: jpf 5s;
    font-size: 5vh;
    color: #FFFFFF;
}

#jp::before {
    content: "";
    animation: jpf 5s;
    
}

@keyframes jpf {
    0%, 7.49% {
        content: "ありがとう、ミッドナイト。";
        opacity: 100%;
    }

    7.5%, 14.99% {
        content: "ありがとう、サレア。";
        opacity: 100%;
    }

    15%, 100% {
        opacity: 0%;
    }
}

#en {
    animation: enf 5s;
    font-size: 2vh;
    color: #FFFFFF;
}

#en::before {
    content: "";
    animation: enf 5s;
}

@keyframes enf {
    0%, 7.49% {
        content: "(Thank you, Midnight.)";
        color: #FFFFFF;
        opacity: 100%;  
    }

    7.5%, 14.99% {
        content: "(Thank you, Sarea.)";
        opacity: 100%;
    }

    15%, 100% {
        opacity: 0%;
    }
}

#vert {
    vertical-align: middle;
}
/* Text Flashes */

.invis {
    opacity: 0%;
}

/* Group Shot */
#char_r2 {
    height: 80vh;
    left: 65%;
    position: absolute;
    bottom: 0%;
    animation: r2 10s linear;
}

@keyframes r2 {
    0%, 7.5% {
        left: -100%;
        opacity: 50%;
    }

    10% {
        left: 25%;
        opacity: 100%;
    }

    30% {
        opacity: 100%;
        left: 57%;
    }

    35%, 39% {
        left: 62%;
        opacity: 100%;
    }

    39.99% {
        left: 35%;
        opacity: 0%;
    }

    40%, 100% {
        opacity: 0%;
    }

}

#char_l2 {
    position: absolute;
    height: 80vh;
    right: 65%;
    bottom: 0%;
    animation: l2 10s linear;
}

@keyframes l2 {
    0%, 10% {
        right: -100%;
        opacity: 50%;
    }

    15% {
        right: 25%;
        opacity: 100%;
    }

    30% {
        opacity: 100%;
        right: 60%;
    }

    35%, 39% {
        right: 65%;
        opacity: 100%;
    }

    39.99% {
        right: 35%;
        opacity: 0%;
    }

    40%, 100% {
        opacity: 0%;
    }

}

#char_r1 {
    position: absolute;
    height: 80vh;
    left: 45%;
    bottom: 0%;
    animation: r1 10s linear;
}

@keyframes r1 {
    0%, 15% {
        left: -100%;
        opacity: 50%;
    }

    20% {
        left: 25%;
        opacity: 100%;
    }

    30% {
        opacity: 100%;
        left: 45%;
    }

    35%, 39% {
        left: 50%;
        opacity: 100%;
    }

    39.99% {
        left: 35%;
        opacity: 0%;
    }

    40%, 100% {
        opacity: 0%;
    }

}

#char_l1 {
    position: absolute;
    height: 80vh;
    right: 45%;
    bottom: 0%;
    animation: l1 10s linear;
}

@keyframes l1 {
    0%, 20% {
        right: -100%;
        opacity: 50%;
    }

    25% {
        right: 25%;
        opacity: 100%;
    }

    30% {
        opacity: 100%;
        right: 45%;
    }

    35%, 39% {
        right: 50%;
        opacity: 100%;
    }

    39.99% {
        right: 35%;
        opacity: 0%;
    }

    40%, 100% {
        opacity: 0%;
    }

}

#char_mid {
    position: absolute;
    height: 80vh;
    left: 0%;
    right: 0%;
    margin: 0 auto;
    bottom: 0%;
    animation: mid 10s;
}

@keyframes mid {
    0%, 25% {
        bottom: -50%;
        opacity: 0%;
    }

    33%, 39% {
        bottom: 0%;
        opacity: 100%;
    }

    39.99% {
        opacity: 0%;
    }

    40%, 100% {
        opacity: 0%;
    }

}
/* Group Shot */

/* Spotlights */
#spot_left {
    position: absolute;
    height: 45vh;
    top: 0%;
    left: 0%;
    animation: spotleft 15s linear;
    opacity: 0%;
}

@keyframes spotleft {
    0%, 24.99% {
        opacity: 0%;
    }

    27.5% {
        left: -25%;
        opacity: 100%;
        top: 5%;
    }

    35% {
        left: 125%;
        opacity: 100%;
        top: 5%;
        transform: rotate(0deg);
    }

    45% {
        left: 80%;
        top: 27%;
        transform: rotate(180deg);
    }

    55% {
        transform: rotate(180deg);
    }

    58% {
        transform: rotate(0deg);
    }

    59.9% {
        opacity: 100%;
        left: 38%;
        top: 27%;
    }

    60%, 100% {
        opacity: 0%;
    }
}

#spot_right {
    position: absolute;
    height: 45vh;
    top: 0%;
    right: 0%;
    animation: spotright 15s linear;
    opacity: 0%;
}

@keyframes spotright {
    0%, 34.99% {
        opacity: 0%;
    }

    35% {
        right: -25%;
        opacity: 100%;
        top: 50%;
    }

    44.99% {
        right: 125%;
        opacity: 100%;
        top: 50%;
        transform: rotate(0deg);
    }

    45% {
        right: 80%;
        top: 27%;
        transform: rotate(180deg);
    }

    55% {
        transform: rotate(180deg);
    }

    58% {
        transform: rotate(0deg);
    }

    59.9% {
        opacity: 100%;
        right: 38%;
        top: 27%;
    }

    60%, 100% {
        opacity: 0%;
    }
}

#icon {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    height: 35vh;
    animation: logo 15s;
    opacity: 0%;
}

@keyframes logo {
    0%, 57.5% {
        opacity: 0%;
    }

    60%, 62.49% {
        opacity: 80%;
    }

    62.5%, 100% {
        opacity: 0%;
    }
}
/* Spotlights */

/* Profile */
#playby {
    height: 100vh;
    position: absolute;
    left: 5%;
    animation: pbf 25s;
    opacity: 100%;
}

@keyframes pbf {
    0%, 40% {
        opacity: 0%;
        left: 0%;
    }

    45% {
        opacity: 100%;
        left: 5%
    }

    100% {
        opacity: 100%;
    }
    
}

#content {
    display: table-cell;
    max-width: 100%;
    width: 60vh;
    height: 100%;
    position: absolute;
    left: 55%;
}

#desc {
    height: 100%;
    width: 100%;
    position: absolute;
    text-align: center;
}

#name {
    position: relative;
    margin-bottom: -5%;
    max-width: 100%;
    max-height: 100vh;
    object-fit: contain;
    object-position: 50% 50%;
    width: 80vh;
    font-size: 5vw;
    color: #FFE32C;
    animation: namef 25s;
}

@keyframes namef {
    0%, 45% {
        top: -10%;
        opacity: 0%;
    }

    50% {
        top: 0%;
        opacity: 100%;
    }

    100% {
        opacity: 100%;
    }
    
}

#text {
    position: relative;
    font-size: 1.2vw;
    font-family: 'Solitreo', cursive;
    color: #FF81C2;
    text-align: center;
    animation: descf 25s;
}

@keyframes descf {
    0%, 50% {
        bottom: -40%;
        opacity: 0%;
    }

    55% {
        bottom: 0%;
        opacity: 100%;
    }

    100% {
        opacity: 100%;
    }
    
}

#break1 {
    position: relative;
    margin: -25% 0 -15% 0;
    object-fit: contain;
    object-position: 50% 50%;
    width: 60vh;
    animation: brf 25s;
}

#break2 {
    position: relative;
    margin: -5% -2% -5% 0;
    object-fit: contain;
    object-position: 50% 50%;
    width: 40vh;
    animation: brf 25s;
}

@keyframes brf {
    0%, 55% {
        right: -10%;
        opacity: 0%;
    }

    60% {
        right: 0%;
        opacity: 100%;
    }

    100% {
        opacity: 100%;
    }
    
}
/* Profile */
